[submodule "Athena/vendor/spdlog"]
	path = Athena/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Athena/vendor/GLFW"]
	path = Athena/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
